.Productions{
    @apply my-16;
    h2{
        @apply text-center my-16 text-5xl text-white uppercase;
        span{
            color: #D1A954;
        }
    }
    .product{
        @apply  flex ;
        .oskar{
            cursor: pointer;
            background: url('../../img/Rectangle.png') no-repeat;
            width: 442px;
            height: 550px;
            position: relative;
            .product__name{
                @apply absolute top-10 left-10 text-white uppercase font-bold text-2xl
            }
            .product__date{
                @apply absolute bottom-24 -left-10 -rotate-90 text-white uppercase font-bold text-2xl
            }
        }
    }
}
@media screen and (max-width: 768px) and (min-width:576px){
    .Productions{
        .product{
            @apply flex flex-col items-center justify-center;
            .oskar{
                margin: 20px 0;
                
            }
        }
    }
}
@media screen and (max-width: 575px) and (min-width:375px){
    .Productions{
        .product{
            @apply flex flex-col items-center justify-center;
            .oskar{
                overflow: hidden;
                margin: 20px;                
            }
        }
    }
}